<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>FLASK</h1>
    <h2>Update stuff here, </h2>
    <form method = "POST" action="">
        Write new Name <input type="text", name="name"/>
        <br>
        write old Email <input type = "email" name = "email" />
        <br>
        <input type = "submit"><br><br>
    </form>
    <a href="/users"><button>See current database</button></a>
    <a href="/delete"><button>Go to delete page</button></a>
    <a href="/update"><button>Go to update page</button></a>

    <br><br>
    <form action="" method="POST">
    Select the columns on which you want to update <br>

    Name<input type="checkbox" id="vehicle1" name="name" value="Bike"><br>
    Email<input type="checkbox" id="vehicle1" name="email" value="Bike"><br><br>
    <input type = "submit">
    </form>
</body>
</html>